// imports
@import url('https://fonts.googleapis.com/css2?family=Bellefair:wght@200;300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@200;300;400;500;600;700;800&display=swap');




// css variables
$fs-belle:'Bellefair', serif;
$fs-barlow-condensed:'Barlow Condensed', sans-serif;

$fw-semi-lght :200;
$fw-lgt :300;
$fw-reg :400;
$fw-med :500;
$fw-semi-bold :600;
$fw-bold :700;




$clr-dark:#0B0D17;
$clr-grey-shade:#D0D6F9;
$clr-white:#FFFFFF;
